<h1>Cadastrar Prestador</h1>

<form method="post" action="/prestadores/cadastrar">
    <input name="nome" placeholder="Nome" required>
    <input name="funcao" placeholder="Função (ex: banho/tosa)" required>
    <input name="telefone" placeholder="Telefone">
    <button>Cadastrar</button>
</form>

<a class="back-link" href="/prestadores">Voltar</a>