<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>PetConnect</h1>
    <div class="container">
    <nav>
<h1>Painel</h1>

<ul class="menu">
    <li><a href="/tutores">Tutores</a></li>
    <li><a href="/animais">Animais</a></li>
    <li><a href="/prestadores">Prestadores</a></li>
    <li><a href="/veterinarios">Veterinários</a></li>
    <li><a href="/servicos">Serviços</a></li>
    <li><a href="/agendamentos">Agendamentos</a></li>
    <li><a href="/prontuarios">Prontuários</a></li>
</ul>

</nav>
</body>
</html>