<h1>Cadastrar Veterinário</h1>
<form method="post" action="/veterinarios/cadastrar">
    <input name="nome" placeholder="Nome" required>
    <input name="crmv" placeholder="CRMV">
    <button>Cadastrar</button>
</form>
<a class="back-link" href="/veterinarios">Voltar</a>