<h1>Cadastrar Tutor</h1>

<form method="post" action="/tutores/cadastrar">
    <input name="nome" placeholder="Nome" required>
    <input name="telefone" placeholder="Telefone" required>
    <button>Cadastrar</button>
</form>

<a class="back-link" href="/tutores">Voltar</a>